<h1>Places</h1>
<p class="mt-2 mb-3">
  <a class="btn btn-primary" href="/places/new">Add a Place</a>
</p>

<ul class="list-group py-3">
  <% for place in @places %>
    <p class="mb-0"><a class="list-group-item" href="/places/<%= place.id %>"><%= place.name %></a></p>
  <% end %>
</ul>