<h1>New Place</h1>

<div class="my-4">
  <%= form_with model: @place do |form| %>
    <p class="mb-4">
      <%= form.label "name" %>
      <%= form.text_field "name" %>
    </p>
    <p>
      <%= form.submit "Add Place", class: "btn btn-primary" %>
    </p>
  <% end %>
</div>